In [30]:
import numpy as np
import pandas as pd

Handaling Null Values

In [31]:
data = [['Steve',25,55],['Linus',28,60],['Elon',26]]
df = pd.DataFrame(data=data,columns=['Name','Age','Weight'])
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26     NaN

In [32]:
df.isnull()

    Name    Age  Weight
0  False  False   False
1  False  False   False
2  False  False    True

In [33]:
df.isnull().sum()

Name      0
Age       0
Weight    1
dtype: int64

In [34]:
df.dropna()
# The changes won't be reflected in the original dataframe until we set inplace=True

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0

In [35]:
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26     NaN

Imputation

In [36]:
from sklearn.impute import SimpleImputer

In [37]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df[['Weight']])
df['Weight'] = imputer.transform(df[['Weight']])
df

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26    57.5

In [38]:
df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

    Name  Age  Weight
0  Steve   25    55.0
1  Linus   28    60.0
2   Elon   26    57.5

Standardization

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
std = StandardScaler()
X = std.fit_transform(df[['Age','Weight']])
X

array([[-1.06904497, -1.22474487],
       [ 1.33630621,  1.22474487],
       [-0.26726124,  0.        ]])

**Handling Categorical Variables**

Ordinal Categorical Variables

In [41]:
df_cat = pd.DataFrame(data = 
                     [['green','M',10.1,'class1'],
                      ['blue','L',20.1,'class2'],
                      ['white','M',30.1,'class1']])
df_cat.columns = ['color','size','price','classlabel']
df_cat

   color size  price classlabel
0  green    M   10.1     class1
1   blue    L   20.1     class2
2  white    M   30.1     class1

In [42]:
size_mapping = {'M':1,'L':2}
df_cat['size'] = df_cat['size'].map(size_mapping)

In [43]:
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
df_cat['classlabel'] = class_le.fit_transform(df_cat['classlabel'].values)

Nominal Categorical Variables

In [44]:
# Using one-hot encoding
df_cat = pd.get_dummies(df_cat[['color','size','price']])
df_cat

   size  price  color_blue  color_green  color_white
0     1   10.1           0            1            0
1     2   20.1           1            0            0
2     1   30.1           0            0            1

Multicollinearity

In [53]:
# Avoiding Multicollinearity
# df_cat = pd.get_dummies(df_cat[['color','size','price']], drop_first=True)
# df_cat